form{
  display: box;
  align-content: center;
  position: absolute;
  left: 41.5%;
  top:170px;
  down: auto;
}
 h1{
   display: box;
   font-size: 75px;
   text-align: center;
   color: blue;

 }
 body{
   background-color: yellow;
 }
#button{
  display: block;
  position: relative;
    top:150px;
}
